html, body {
  height: 100%;
  font-family: 'Open Sans', sans-serif
}

body {
  display: flex;
  align-items: center;
  justify-content: flex-center;
  flex-direction: column;
  background-image: url('images/donutpaper.jpg');
  font-family: 'Nunito', sans-serif;
}

#message, #notes {
  display: flex;
  flex-direction: column;
  align-items: center;
}

#message {
  font-size: 2rem;
  font-weight: 800;
  letter-spacing: 0.15em;
  color: #fff;
  text-shadow:
    -2px -2px 0 #f93a4f,
    2px -2px 0 #f93a4f,
    -2px 2px 0 #f93a4f,
    2px 2px 0 #f93a4f;
  text-align: center;

}

#restart {
  margin-top: 1em;
  padding:0.5em;
  color: #f93a4f;
  border: solid 0.25em #f93a4f;
  background-color: #cef7f2;
  font-size: 1.25rem;
  font-weight: 600;
  letter-spacing: 0.15em;
  text-align: center;
  display: flex;
}

.board {
  display: flex;
  flex-wrap: wrap;
}

.board div {
  color: white;
  background-color: #f93a4f;
  font-size: 2rem;
  width: 75px;
  height: 75px;
  border: 1px solid #f93a4f;
  border-radius: 10%;
  margin: 3px;
  display: flex;
  align-items: center;
  justify-content: center;
}



div.mine, div.mine:hover {
  background: no-repeat center/60% url("images/spinach.jpg") white;
}

div.hidden {
  background: #eee;
}

div.hidden:hover {
  background: #f7c33e;
}

div.marked, div.marked:hover {
  background: no-repeat center/60% url("images/donut.png") #cef7f2;
}
